body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.traffic-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.light {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid #333333;
}

.red {
    background-color: #FF4136;
    box-shadow: 0 0 10px rgba(255, 65, 54, 0.5);
}

.yellow {
    background-color: #FFDC00;
    box-shadow: 0 0 10px rgba(255, 220, 0, 0.5);
}

.green {
    background-color: #2ECC40;
    box-shadow: 0 0 10px rgba(46, 204, 64, 0.5);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #000000;
    text-align: center;
    font-size: 16px;
    cursor: pointer;

}

.button-on {
    background-color: #587852;
}

.button-off {
    background-color: #734340;
}